html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;
}

.costumblock {
  max-width: 330px;
  padding: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
}

.rozvrh {  
  padding: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
}

.rozvrh a, button {
  max-width: 330px;
}
